body{
    background-color: #fff8d9;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}


.image_text {
color: transparent;
background-image: url(https://images.unsplash.com/photo-1665541620643-38a95ca78e6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw2M3x8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);

background-clip: text;
-webkit-background-clip: text;
animation: expand-reverse 0.5s ease forwards;
}

.image_text:hover{
    animation: expand 0.5s ease forwards;
}

@keyframes expand {
    0%{
        background-size: cover;
        background-position: 0em 1em;
    }
    100%{
        background-size: cover;
        background-position: 0em -0.5em;
    }
}

@keyframes expand-reverse {
    0%{
        background-size: cover;
        background-position: 0em 1em;
    }
    100%{
        background-size: cover;
        background-position: 0em -0.5em;
    }
}
 